.container {
  display: flex;
  justify-content: center;
  outline: none;
  width: 100%;
  border: 0;
  border-radius: 4px;
  padding: 12px 20px;
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}

.block {
  width: 100%;
}

.primary {
  color: white;
  background: #4285F4;
}

.secondary {
  border: solid 1px black;
  color: black;
  background-color: white;
}

.text {
  background-color: transparent;
  color: black;
  height: auto;
  line-height: 0;
}

.text:hover, .text:visited, .test:active, .test:focus {
  background-color: transparent;
  color: black;
}

.spinner {
  width: 30px;
  height: 30px;
}
